body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6b0c0c;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}

nav button {
    margin-right: 5px;
}

#promo {
    background-color: #fff;
    text-align: center;
    padding: 50px;
    
}

#subscribe-form {
    margin-top: 10px;
}

label, input, button {
    margin: 5px;
}

#artist img {
    width: 100%;  /* Smaller width for the image */
    height: 80%;
    display: block;
    margin: 0 auto;  /* Centering the image */
}


#content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#quotes {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 15px;
}
